<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="metadataBehavior0" name="ServiceMtk_P2_115.Matematika">
                <clear />
                <endpoint address="http://localhost:1926" binding="basicHttpBinding"
                    bindingConfiguration="" contract="ServiceMtk_P2_115.IMatematika" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1926" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>